@model ZaryadApp.Models.Station

@{
    ViewData["Title"] = "Станція";
}

<h1>Details</h1>

<div>
    <h4>Station</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Місто
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            Адреса
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            Роз'єм'
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plug)
        </dd>
        <dt class = "col-sm-2">
            Напруга
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voltage)
        </dd>
        <dt class = "col-sm-2">
            Ціна
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
