@model IEnumerable<ZaryadApp.Models.Station>

@{
    ViewData["Title"] = "Index";
}

<h1>Заправні станції</h1>

<form asp-controller="Stations" asp-action="Index" method="get" id="searchForm">
    <table>
        <tr>
            <td>
                <input class="form-control input-validation-error" id="city" name="city" placeholder="Місто" type="text" value="@ViewData["city"]">
            </td>
            <td>
                <input class="form-control input-validation-error" id="price" name="price" placeholder="Максимальна ціна за кВт" type="text" value="@ViewData["price"]">
            </td>
            <td>

                <input class="form-control input-validation-error" id="voltage" name="voltage" placeholder="Максимальна напруга" type="text" value="@ViewData["voltage"]">
            </td>
            <td>
                @Html.DropDownList("plug", ViewBag.Plugs, "Роз'єм", new {Class = "btn btn-secondary dropdown-toggle"})
            </td>
            <td>
                <button type="button" id="createSettingsButton" class="btn btn-primary">Зберегти фільтри</button>
            </td>
            <td>
                @Html.DropDownList("settingsId", ViewBag.Settings, "Фільтри", new {Class = "btn btn-secondary dropdown-toggle"})
            </td>
            <td>
                <input type="submit" value="Пошук" id="search" class="btn btn-success" />
            </td>
        </tr>
    </table>
</form>
<script>
    const button = document.getElementById('createSettingsButton')
    button.addEventListener('click', function () {
        var formData = new FormData(document.getElementById('searchForm'));
        console.log(formData)
        fetch('@Url.Action("Create", "Settings")', {
            method: 'POST',
            body: formData
        }).then(function (response) {
            if (response.ok) {
                button.innerHTML = "Збережено"
            } else {
                button.innerHTML = "Помилка"
            }
        })
    });
</script>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voltage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voltage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>